In [2]:
from dataprep.eda import create_report
import pandas as pd

In [3]:
empatica = pd.read_pickle('data\empatica.pkl')
empatica

,id,datetime,hour,0,1,2,EDA,BVP,HR,TEMP
0,2,2017-05-22 03:00:00,3.0,33.194839,-20.779731,27.586761,0.979370,-2.051485,78.873504,35.861821
1,2,2017-05-22 04:00:00,4.0,41.321111,-30.715278,-0.680556,1.349422,2.302322,74.118131,35.411183
2,2,2017-05-22 05:00:00,5.0,42.177500,-44.416667,-1.042778,0.668645,-1.572761,72.132161,35.776811
3,2,2017-05-22 06:00:00,6.0,30.669167,-44.639167,13.186111,0.138875,0.819792,73.100000,35.577078
4,2,2017-05-22 07:00:00,7.0,30.708889,-29.134167,0.261667,0.583789,0.028806,73.100000,34.218989
...,...,...,...,...,...,...,...,...,...,...
1909,17,2017-08-16 07:00:00,7.0,-46.000000,-2.000000,11.000000,1.038622,0.110508,71.680000,32.830000
1910,17,2017-08-16 08:00:00,8.0,-46.000000,-2.000000,11.000000,1.038622,0.038244,71.680000,32.830000
1911,17,2017-08-16 09:00:00,9.0,-46.000000,-2.000000,11.000000,1.038622,0.009639,71.680000,32.830000
1912,17,2017-08-16 10:00:00,10.0,-46.000000,-2.000000,11.000000,1.038622,-0.300889,71.680000,32.830000
1913,17,2017-08-16 11:00:00,11.0,-46.000000,-2.000000,11.000000,1.038622,-0.001703,71.680000,32.830000

In [7]:
report = create_report(empatica, title='empatica')
#report.save()

  0%|          | 0/1874 [00:00<?, ?it/s]

C:\Users\Christina\anaconda3\lib\site-packages\dask\core.py:119: RuntimeWarning: invalid value encountered in divide
  return func(*(_execute_task(a, cache) for a in args))