In [19]:
from dataprep.eda import create_report
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('data\data_total.csv')
df

,Unnamed: 0,id,datetime,hour,Age,Height (cm),Weight (kg),Gender,Dominant hand,Did you drink coffee today,...,PA_Score,NA_Score,stai_stress_category,0,1,2,EDA,BVP,HR,TEMP
0,0,2,2017-05-22 03:00:00,3.0,27,175,80,male,right,NO,...,20,12,Above average,33.194839,-20.779731,27.586761,0.979370,-2.051485,78.873504,35.861821
1,1,2,2017-05-22 04:00:00,4.0,27,175,80,male,right,NO,...,20,12,Above average,41.321111,-30.715278,-0.680556,1.349422,2.302322,74.118131,35.411183
2,2,2,2017-05-22 05:00:00,5.0,27,175,80,male,right,NO,...,20,12,Above average,42.177500,-44.416667,-1.042778,0.668645,-1.572761,72.132161,35.776811
3,3,2,2017-05-22 06:00:00,6.0,27,175,80,male,right,NO,...,20,12,Above average,30.669167,-44.639167,13.186111,0.138875,0.819792,73.100000,35.577078
4,4,2,2017-05-22 07:00:00,7.0,27,175,80,male,right,NO,...,20,12,Above average,30.708889,-29.134167,0.261667,0.583789,0.028806,73.100000,34.218989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47845,47845,17,2017-08-16 07:00:00,7.0,29,165,55,female,right,NO,...,23,14,Below average,-46.000000,-2.000000,11.000000,1.038622,0.110508,71.680000,32.830000
47846,47846,17,2017-08-16 08:00:00,8.0,29,165,55,female,right,NO,...,23,14,Below average,-46.000000,-2.000000,11.000000,1.038622,0.038244,71.680000,32.830000
47847,47847,17,2017-08-16 09:00:00,9.0,29,165,55,female,right,NO,...,23,14,Below average,-46.000000,-2.000000,11.000000,1.038622,0.009639,71.680000,32.830000
47848,47848,17,2017-08-16 10:00:00,10.0,29,165,55,female,right,NO,...,23,14,Below average,-46.000000,-2.000000,11.000000,1.038622,-0.300889,71.680000,32.830000
47849,47849,17,2017-08-16 11:00:00,11.0,29,165,55,female,right,NO,...,23,14,Below average,-46.000000,-2.000000,11.000000,1.038622,-0.001703,71.680000,32.830000

In [21]:
#report = create_report(df, title='total-data')
#report.save()

In [22]:
df.columns

Index(['Unnamed: 0', 'id', 'datetime', 'hour', 'Age', 'Height (cm)',
       'Weight (kg)', 'Gender', 'Dominant hand', 'Did you drink coffee today',
       'Did you drink coffee within the last hour',
       'Did you do any sports today', 'Are you a smoker',
       'Did you smoke within the last hour', 'Do you feel ill today',
       'PA_Score', 'NA_Score', 'stai_stress_category', '0', '1', '2', 'EDA',
       'BVP', 'HR', 'TEMP'],
      dtype='object')

In [23]:
df['Height (m)'] = (df['Height (cm)'] / 100)
df['BMI'] = df['Weight (kg)'] / df['Height (m)']**2
df

,Unnamed: 0,id,datetime,hour,Age,Height (cm),Weight (kg),Gender,Dominant hand,Did you drink coffee today,...,stai_stress_category,0,1,2,EDA,BVP,HR,TEMP,Height (m),BMI
0,0,2,2017-05-22 03:00:00,3.0,27,175,80,male,right,NO,...,Above average,33.194839,-20.779731,27.586761,0.979370,-2.051485,78.873504,35.861821,1.75,26.122449
1,1,2,2017-05-22 04:00:00,4.0,27,175,80,male,right,NO,...,Above average,41.321111,-30.715278,-0.680556,1.349422,2.302322,74.118131,35.411183,1.75,26.122449
2,2,2,2017-05-22 05:00:00,5.0,27,175,80,male,right,NO,...,Above average,42.177500,-44.416667,-1.042778,0.668645,-1.572761,72.132161,35.776811,1.75,26.122449
3,3,2,2017-05-22 06:00:00,6.0,27,175,80,male,right,NO,...,Above average,30.669167,-44.639167,13.186111,0.138875,0.819792,73.100000,35.577078,1.75,26.122449
4,4,2,2017-05-22 07:00:00,7.0,27,175,80,male,right,NO,...,Above average,30.708889,-29.134167,0.261667,0.583789,0.028806,73.100000,34.218989,1.75,26.122449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47845,47845,17,2017-08-16 07:00:00,7.0,29,165,55,female,right,NO,...,Below average,-46.000000,-2.000000,11.000000,1.038622,0.110508,71.680000,32.830000,1.65,20.202020
47846,47846,17,2017-08-16 08:00:00,8.0,29,165,55,female,right,NO,...,Below average,-46.000000,-2.000000,11.000000,1.038622,0.038244,71.680000,32.830000,1.65,20.202020
47847,47847,17,2017-08-16 09:00:00,9.0,29,165,55,female,right,NO,...,Below average,-46.000000,-2.000000,11.000000,1.038622,0.009639,71.680000,32.830000,1.65,20.202020
47848,47848,17,2017-08-16 10:00:00,10.0,29,165,55,female,right,NO,...,Below average,-46.000000,-2.000000,11.000000,1.038622,-0.300889,71.680000,32.830000,1.65,20.202020
47849,47849,17,2017-08-16 11:00:00,11.0,29,165,55,female,right,NO,...,Below average,-46.000000,-2.000000,11.000000,1.038622,-0.001703,71.680000,32.830000,1.65,20.202020

In [24]:
df['BMI'].value_counts()

22.837370    3725
29.387755    3575
26.122449    3525
23.054562    3450
22.395790    3375
20.202020    3225
20.380435    3200
24.691358    3125
25.029761    3075
23.986870    3050
21.633315    2975
23.991213    2975
21.857278    2900
18.467221    2900
22.893074    2775
Name: BMI, dtype: int64

In [25]:
bins = [-np.inf,18.5, 25, 30, np.inf]
labels = ["underweight","healthy","overweight","obese"]
df['bmi_cat'] = pd.cut(df['BMI'], bins=bins, labels=labels)
df['bmi_cat'].value_counts()

healthy        34775
overweight     10175
underweight     2900
obese              0
Name: bmi_cat, dtype: int64