In [8]:
from dataprep.eda import create_report
import pandas as pd

In [9]:
df = pd.read_pickle('data/dataframe')
df

,id,date,stationary (in hours),walking (in hours),running (in hours),silence (in hours),voice (in hours),noise (in hours),conversation_duration_in_hours,bluetooth_level,...,label_panas_PA,label_panas_NA,label_extraversion,label_agreeableness,label_conscientiousness,label_neuroticism,label_openness,label_loneliness,label_pss_score,label_phq_score
331,2,2013-03-27,9.87,0.36,0.02,13.9,0.08,0.07,NaN,-87.451923,...,28.0,13.0,15.0,27,35.0,26.0,30.0,28,25.0,5
5222,34,2013-03-27,4.18,0,0,11.24,1.62,0.28,0.77,-80.918660,...,24.0,14.0,26.0,38,28.0,24.0,32.0,37,14.0,6
4004,30,2013-03-27,1.21,0.06,0,3.6,4.48,1.23,3.62,-85.182927,...,34.0,21.0,35.0,37,41.0,16.0,36.0,26,12.0,0
3086,19,2013-03-27,4.97,0.18,0,12.99,5.04,2.86,2.92,-80.981818,...,34.0,15.0,17.0,33,34.0,32.0,37.0,53,21.0,4
3088,19,2013-03-27,4.97,0.18,0,12.99,5.04,2.86,2.92,-80.981818,...,34.0,15.0,17.0,33,34.0,32.0,37.0,53,21.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,10,2013-06-01,1.3,0,0,3.42,0.05,0.08,NaN,-91.857143,...,43.0,28.0,18.0,12,45.0,25.0,40.0,62,15.0,4
491,2,2013-06-01,1.47,0.1,0,2.65,7.26,4.92,4.30,-87.894737,...,28.0,13.0,15.0,27,35.0,26.0,30.0,28,25.0,5
2001,10,2013-06-01,1.3,0,0,3.42,0.05,0.08,NaN,-91.857143,...,43.0,28.0,18.0,12,45.0,25.0,40.0,62,15.0,4
3836,27,2013-06-01,1.62,0.04,0,4.2,2.99,2.96,2.39,NaN,...,19.0,23.0,17.0,33,25.0,26.0,33.0,50,23.0,7
6781,59,2013-06-01,5.15,1.75,1.12,1.23,2.89,14.46,1.95,20876.580645,...,37.0,29.0,31.0,37,26.0,24.0,32.0,30,13.0,7

In [10]:
#report = create_report(df, title='studentlife')
#report.save()