In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# read the txt readme files

demo=pd.DataFrame()

numbers=[2,3,4,5,6,7,8,9,10,11,13,14,15,16,17]

for i in numbers:
    filename = 'data\WESAD\S%i\S%i_readme.txt'%(i,i)

#filename = 'data\WESAD\S8\S8_readme.txt'

    with open(filename, 'r') as file:
        lines = file.readlines()

    subject_number = int(os.path.basename(filename).split('S')[1].split('_')[0])
    data = {'id': subject_number}
    current_header = None

    for line in lines:
        parts = line.strip().split(':')  # Split using ':' as delimiter
        if len(parts) == 1:  # If ':' is not found, split using '?' as delimiter
            parts = line.strip().split('?')
        if len(parts) > 1:
            header = parts[0].strip()  # Extract the column header
            value = ':'.join(parts[1:]).strip()  # Join remaining parts as value
            data[header] = value

    # Create a Pandas DataFrame
    user_df = pd.DataFrame([data])
    # before the next user, add this user_df to the total dataframe
    demo = pd.concat([demo, user_df])

demo = demo.drop(columns=['Stress condition / TSST interview part'])
demo

,id,Age,Height (cm),Weight (kg),Gender,Dominant hand,Did you drink coffee today,Did you drink coffee within the last hour,Did you do any sports today,Are you a smoker,Did you smoke within the last hour,Do you feel ill today
0,2,27,175,80,male,right,NO,NO,NO,NO,NO,NO
0,3,27,173,69,male,right,NO,NO,NO,NO,NO,NO
0,4,25,175,90,male,right,NO,NO,NO,NO,NO,NO
0,5,35,189,80,male,right,YES,NO,NO,NO,NO,NO
0,6,27,170,66,male,right,YES,NO,NO,YES,NO,NO
0,7,28,184,74,male,right,NO,NO,YES,NO,NO,NO
0,8,27,172,64,female,left,YES,NO,YES,NO,NO,NO
0,9,26,181,75,male,right,NO,NO,NO,NO,NO,YES
0,10,28,178,76,male,right,NO,NO,NO,NO,NO,NO
0,11,26,171,54,female,right,YES,NO,NO,NO,NO,NO
0,13,28,181,82,male,right,NO,NO,NO,NO,NO,NO
0,14,27,180,80,male,right,NO,NO,NO,NO,NO,NO
0,15,28,186,83,male,right,NO,NO,NO,NO,NO,NO
0,16,24,184,69,male,right,NO,NO,NO,NO,NO,NO
0,17,29,165,55,female,right,NO,NO,NO,NO,NO,NO

In [3]:
# read the txt respiban files

respiban=pd.DataFrame()

for i in numbers:
    filename = 'data\WESAD\S%i\S%i_respiban.txt'%(i,i)
    user_df=pd.DataFrame()
    user_df = pd.read_csv(filename, sep='\t', header=None, skiprows=3)
    user_df['id'] = i

    # before the next user, add this user_df to the total dataframe
    respiban = pd.concat([respiban, user_df])

respiban = respiban.drop(columns=[0,1,10])
respiban.columns = ['ECG', 'EDA', 'EMG', 'TEMP', 'XYZ1', 'XYZ2', 'XYZ3', 'RESPIRATION', 'id']
respiban

           ECG    EDA    EMG   TEMP   XYZ1   XYZ2   XYZ3  RESPIRATION  id
0        31053  14694  32651  29553  37415  32324  31659        31364   2
1        30861  14680  32983  29556  37417  32333  31663        31379   2
2        30644  14684  32823  29561  37409  32340  31655        31367   2
3        30374  14701  32569  29553  37405  32341  31671        31076   2
4        30103  14684  32794  29561  37409  32342  31681        31365   2
...        ...    ...    ...    ...    ...    ...    ...          ...  ..
4287113  36680  19311  30975  26601  37414  32735  31854        34583  17
4287114  36463  19305  32161  26611  37423  32743  31839        34579  17
4287115  36156  19301  32771  26643  37415  32741  31823        34557  17
4287116  36104  19300  33127  26615  37415  32747  31827        34539  17
4287117  35960  19295  33124  26605  37409  32741  31831        34555  17

[62935498 rows x 9 columns]

In [4]:
chan_bit=2**16
vcc=3

respiban['ECG (mV)'] = ((respiban['ECG'] / chan_bit - 0.5) * vcc)
respiban['EDA (μS)'] = (((respiban['EDA']/chan_bit)*vcc)/0.12)
respiban['EMG (mV)'] = ((respiban['EMG']/chan_bit-0.5)*vcc)
vout = (respiban['TEMP']*vcc)/(chan_bit-1.)
rntc = ((10**4)*vout)/(vcc-vout)
respiban['TEMP (^oC)'] = -273.15 + 1./(1.12764514*(10**(-3)) + 2.34282709*(10**(-4))*np.log(rntc)+8.77303013*(10**(-8))*(np.log(rntc)**3))
respiban

C:\Users\Christina\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,ECG,EDA,EMG,TEMP,XYZ1,XYZ2,XYZ3,RESPIRATION,id,ECG (mV),EDA (μS),EMG (mV),TEMP (^oC)
0,31053,14694,32651,29553,37415,32324,31659,31364,2,-0.078506,5.605316,-0.005356,29.550295
1,30861,14680,32983,29556,37417,32333,31663,31379,2,-0.087296,5.599976,0.009842,29.545964
2,30644,14684,32823,29561,37409,32340,31655,31367,2,-0.097229,5.601501,0.002518,29.538746
3,30374,14701,32569,29553,37405,32341,31671,31076,2,-0.109589,5.607986,-0.009109,29.550295
4,30103,14684,32794,29561,37409,32342,31681,31365,2,-0.121994,5.601501,0.001190,29.538746
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4287113,36680,19311,30975,26601,37414,32735,31854,34583,17,0.179077,7.366562,-0.082077,33.917470
4287114,36463,19305,32161,26611,37423,32743,31839,34579,17,0.169144,7.364273,-0.027786,33.902269
4287115,36156,19301,32771,26643,37415,32741,31823,34557,17,0.155090,7.362747,0.000137,33.853647
4287116,36104,19300,33127,26615,37415,32747,31827,34539,17,0.152710,7.362366,0.016434,33.896190
4287117,35960,19295,33124,26605,37409,32741,31831,34555,17,0.146118,7.360458,0.016296,33.911389

In [5]:
# read the PANAS self questionnaires csv files

# PANAS scores can range from 10 to 50, with higher scores representing higher levels of positive or negative affect, respectively.

def calculate_panas_scores_from_dataframe(df):

    positive_headers = ["Interested", "Inspired", "Guilty", "Excited", "Irritable", "Alert", "Attentive", "Jittery", "Afraid", "Stressed"]
    negative_headers = ["Active", "Distressed", "Annoyed", "Strong", "Scared", "Hostile", "Proud", "Enthusiastic", "Ashamed", "Sad", "(Angry)", "(Irritated)"]

    df[positive_headers + negative_headers] = df[positive_headers + negative_headers].apply(pd.to_numeric, errors='coerce').fillna(0)

    pa_score = df[positive_headers].astype(int).sum(axis=1)
    na_score = df[negative_headers].astype(int).sum(axis=1)

    df['PA_Score'] = pa_score
    df['NA_Score'] = na_score

    return df

numbers=[2,3,4,5,6,7,8,9,10,11,13,14,15,16,17]

panas=pd.DataFrame()

for user in numbers:
    filename = 'data\WESAD\S%i\S%i_quest.csv'%(i,i)
    #user_df=pd.DataFrame()

    lines_to_read = 5
    data = []

    header_mapping = {
    1: "Active",
    2: "Distressed",
    3: "Interested",
    4: "Inspired",
    5: "Annoyed",
    6: "Strong",
    7: "Guilty",
    8: "Scared",
    9: "Hostile",
    10: "Excited",
    11: "Proud",
    12: "Irritable",
    13: "Enthusiastic",
    14: "Ashamed",
    15: "Alert",
    16: "Nervous",
    17: "Determined",
    18: "Attentive",
    19: "Jittery",
    20: "Afraid",
    21: "Stressed",
    22: "Frustrated",
    23: "Happy",
    24: "Sad",
    25: "(Angry)",
    26: "(Irritated)"
}

    with open(filename, 'r') as csvfile:
        lines_read = 0
        for line in csvfile:
            if lines_read >= lines_to_read:
                break
            if line.strip().startswith('# PANAS'):
                values = line.strip().split(';')[1:]
                data.append(values)
                lines_read += 1

    user_df = pd.DataFrame(data, columns=[header_mapping[i] for i in range(1, len(data[0]) + 1)])
    user_df['id'] = user

    # before the next user, add this user_df to the total dataframe
    panas = pd.concat([panas, user_df])

panas = calculate_panas_scores_from_dataframe(panas)
panas = panas.drop(panas.iloc[:, 0:26],axis = 1)

panas

    id  PA_Score  NA_Score
0    2        20        12
1    2        24        15
2    2        15        10
3    2        31        38
4    2        23        14
..  ..       ...       ...
0   17        20        12
1   17        24        15
2   17        15        10
3   17        31        38
4   17        23        14

[75 rows x 3 columns]

In [6]:
# read the STAI self questionnaires csv files

# to calculate the total stress score simply sum per row

numbers=[2,3,4,5,6,7,8,9,10,11,13,14,15,16,17]

stai=pd.DataFrame()

for user in numbers:
    filename = 'data\WESAD\S%i\S%i_quest.csv'%(user,user)

    lines_to_read = 5
    data = []

    with open(filename, 'r') as csvfile:
        lines_read = 0
        for line in csvfile:
            if lines_read >= lines_to_read:
                break
            if line.strip().startswith('# STAI'):
                values = line.strip().split(';')[1:]
                data.append(values)
                lines_read += 1

    user_df = pd.DataFrame(data)
    user_df = user_df.iloc[:, 0:6]
    user_df['id'] = user

    # before the next user, add this user_df to the total dataframe
    stai = pd.concat([stai, user_df])

for column in stai.columns:
    stai[column] = pd.to_numeric(stai[column], errors='coerce')


stai['stai_stress'] = stai.iloc[:, 0:6].sum(axis=1)
stai = stai.iloc[:, 6:]

mean_stai = stai['stai_stress'].mean()
std_stai = stai['stai_stress'].std()

def get_stai_category(score):
    if score < mean_stai-0.5*std_stai:
        return "Below average"
    if score > mean_stai+0.5*std_stai:
        return "Above average"
    return "Average"

stai['stai_stress_category'] = stai['stai_stress'].apply(lambda score: get_stai_category(score))

stai = stai.drop(columns=['stai_stress'])

stai

    id stai_stress_category
0    2        Above average
1    2        Below average
2    2        Above average
3    2              Average
4    2        Above average
..  ..                  ...
0   17        Below average
1   17        Above average
2   17        Below average
3   17              Average
4   17        Below average

[75 rows x 2 columns]

In [7]:
# read the sync data from the two devices

data = pd.read_pickle('data\WESAD\S2\S2.pkl')

def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = parent_key + sep + k if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

# Flatten the nested dictionary
flattened_dict = flatten_dict(data)

# Convert the flattened dictionary into a DataFrame
data = pd.DataFrame([flattened_dict])

# Explode arrays into rows
for col in data.columns:
    data = data.explode(col)

data

MemoryError: Unable to allocate 132. TiB for an array with shape (18107578090000,) and data type object